.plans{
	border-bottom: 1px solid $lt;
	padding: 2rem 0 1rem 0;
	
	img{
		float: left;
		width: 100%;
		max-width: 400px;
		margin: 0 1rem 1rem 0;
	}
}


p.house-buttons{
	a:first-child{
		margin-right: 1rem;
	}
	
}



a#filter-toggle{
	text-align: center;
	padding: .5rem;
	margin-top: 2rem;
	background: $lt;
	border-radius: 10px;
}

input[type=submit]{
	width:100%;
}

@media only screen and (min-width: 40em) {


}